body{
    color: white;
    background:rgb(1, 1, 54);
    /* color: white;
    background: url(image/question-mark.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

.home, .homepage {
    justify-content: center;
    text-align: center;
}

.linkHome {
    color: yellow;
  }
